<div class="container">
    <div class="info">
      <mat-icon>contact_mail</mat-icon>
      <h1 style="color: white;">Lista de Contactos</h1>
      <!-- Botones de acción -->
      <div class="acciones">
        <button class="btn-azul" (click)="agregarContacto()">Agregar Contacto</button>
        <!-- <button class="btn-verde" (click)="exportarExcel()">Excel</button> -->
      </div>
  
      <div class="contacto-container">
        <div class="contacto-card" *ngFor="let contacto of contactos">
          <h2>{{ contacto.nombre }}</h2>
          <p>Teléfono: {{ contacto.telefono }}</p>
          <button (click)="verDetalle(contacto)">Ver Detalles</button>
        </div>
      </div>
    </div>
  </div>
  